module.exports = {
    bot: {
        token: '',
        prefix: '',
        status: "Made with ❤️ by Sanctus"
    },

    serverId: "773550825008136212",

    mongoURL: "",

    channels: {
        inviteLog: ''
    },

    text: {
        joinMessage: "{newMember} sunucuya katıldı.\nDavet eden: {inviter} ( {inviteCount} )"
    },

    emoji: {
        emojiname: '<:name:id>',
        animatedemojiname: '<a:name:id>'
    }
};

// This file is a example for the config.js file