module.exports = {
    bot: {
        token: '',
        prefix: '',
        status: "Made with ❤️ by Sanctus"
    },

    guildId: "773550825008136212",

    mongoURL: "",

    channels: {
        inviteLog: ''
    },

    emoji: {
        emojiname: '<:name:id>',
        animatedemojiname: '<a:name:id>'
    }
};

// This file is a example for the config.js file